---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Services from "../components/Services.astro";
import TechStack from "../components/TechStack.astro";
import Navbar from "../components/Navbar.astro";
import Testimonials from "../components/Testimonials.astro";
import LatestBlogs from "../components/LatestBlogs.astro";
import DevelopmentFlow from "../components/DevelopmentFlow.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <DevelopmentFlow />
    <Services />
    <TechStack />
    <Testimonials />
    <LatestBlogs />
  </main>
</Layout>

<style></style>
