<section class="min-h-48">
    <div class="max-w-screen-xl mx-auto px-2 flex my-20">
        <div>
            <h1>This is Development Flow</h1>

            <div>
                <p>This is the development flow</p>
            </div>
        </div>
    </div>
</section>
