<nav class="border-b py-4">
  <div class="container mx-auto px-2 flex items-center justify-between">
    <div>
      <h1>My Logo</h1>
    </div>
    <div>
      <a href="#">Home</a>
      <a href="#">Blogs</a>
      <a href="#">Pricing</a>
      <a href="#">About us</a>
    </div>
    <div>
      <a href="#">Login</a>
      <a href="#">Buy Subscription</a>
    </div>
  </div>
</nav>
