<nav class="h-20 border-b border-[#4444447c]">
  <div
    class="h-full max-w-screen-xl mx-auto px-2 flex justify-between items-center"
  >
    <div>
      <a href="/"><h1 class="text-2xl">LanceFree<span class="font-bold text-[#14b8a5]">Devs</span></h1></a>
    </div>
    <div class="flex items-center">
      <a href="/" class="px-8 py-2">Home</a>
      <a href="/contact" class="px-8 py-2">Contact</a>
      <a href="/about" class="px-8 py-2">About</a>
      <a href="/blogs" class="px-8 py-2">Blogs</a>
      <a href="/services" class="px-8 py-2">Services</a>
      <a href="/careers" class="px-8 py-2">Careers</a>
      <a
        href="#"
        class="text-white border border-[#4444447c] px-4 py-2 rounded block w-[150px] text-center"
        >Shadule a Call</a
      >
    </div>
  </div>
</nav>
