<nav class="bg-blue-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <div>
      <h1>My Logo</h1>
    </div>
    <div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Shadule a Call</a></li>
      </ul>
    </div>
  </div>
</nav>
