<section class="min-h-48">
    <div class="max-w-screen-xl mx-auto px-2 flex my-20">
        <div>
            <div class="grid grid-cols-3">
                <div class="border border-[#4444447c] p-8">
                    <h3 class="font-bold text-lg mb-2">Figma to Code</h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Odio, repellat.
                    </p>
                </div>
                <div class="border border-[#4444447c] p-8">
                    <h3 class="font-bold text-lg mb-2">AI-Intergration</h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Odio, repellat.
                    </p>
                </div>
                <div class="border border-[#4444447c] p-8">
                    <h3 class="font-bold text-lg mb-2">E-Commerce Solutions</h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Odio, repellat.
                    </p>
                </div>
                <div class="border border-[#4444447c] p-8">
                    <h3 class="font-bold text-lg mb-2">Maintaining</h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Odio, repellat.
                    </p>
                </div>
                <div class="border border-[#4444447c] p-8">
                    <h3 class="font-bold text-lg mb-2">Enterpirse Backend Solutions</h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Odio, repellat.
                    </p>
                </div>
                <div class="border border-[#4444447c] p-8">
                    <h3 class="font-bold text-lg mb-2">Cloud Solutions</h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Odio, repellat.
                    </p>
                </div>
                <div class="border border-[#4444447c] p-8">
                    <h3 class="font-bold text-lg mb-2">Database Administration</h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Odio, repellat.
                    </p>
                </div>
                <div class="border border-[#4444447c] p-8">
                    <h3 class="font-bold text-lg mb-2">SEO</h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Odio, repellat.
                    </p>
                </div>
                <div class="border border-[#4444447c] p-8">
                    <h3 class="font-bold text-lg mb-2">UI / UX</h3>
                    <p class="text-gray-500">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Odio, repellat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
